<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>게시판</title>

    <!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">-->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/index.css" rel="stylesheet">
</head>
<body>

<header>
    <h1>자유게시판</h1>
</header>

<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="#">Home
                        <span class="visually-hidden">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="#">뉴스</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">채팅</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Separated link</a>
                    </div>
                </li>
            </ul>
            <form class="d-flex">
                <input class="form-control me-sm-2" type="search" placeholder="Search">
                <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>
<div class="container">
    <div class="col-md-12">
        <div sec:authorize="isAuthenticated()">
            <span th:text="${user.getName()}+'님'"></span>
            <a href="/logout" class="btn btn-info active" role="button">Logout</a>
            <a href="/posts/save" role="button" class="btn btn-primary" >글쓰기</a>
        </div>
        <div sec:authorize="!isAuthenticated()">
            <a href="/signin" class="btn btn-outline-primary" role="button">로그인</a>
            <a href="/posts/save" role="button" class="btn btn-primary" >글쓰기</a>
        </div>
    </div>

    <br>
    <!-- 목록 출력 영역 -->
    <table class="table table-hover">
        <thead class="table-primary">
        <tr>
            <th>게시글번호</th>
            <th>제목</th>
            <th>작성자</th>
            <th>조회수</th>
            <th>추천수</th>
            <th>작성일</th>
        </tr>
        </thead>
        <tbody id="tbody">
            <tr th:each="post : ${posts}">
                <td th:text="${post.getSeq()}"></td>
                <td>
                    <!--<a th:href="@{/posts/view/{seq}(seq=${post.getSeq()})}" th:text="${post.title}"></a>-->

                    <a th:href="@{/posts/view/{seq}(seq=${post.getSeq()})}">
                        <span th:if="${post.comment == 0}" th:text="${post.title}"></span>
                        <span th:unless="${post.comment == 0}" th:text="${post.title + ' (' + post.comment + ')'}"></span>
                    </a>
                </td>
                <td th:text="${post.getUser().getName()}"></td>
                <td th:text="${post.getHit()}"></td>
                <td th:text="${post.getLike()}"></td>
                <td th:text="${post.getTime()}"></td>
            </tr>
        </tbody>
    </table>

    <div>
        <ul class="pagination pagination-lg" id="pageNumber">
            <!--  <<버튼  -->
            <li class="page-item" th:classappend="${pagingInfo.getCurrentPage() < 5 ? 'disabled' : ''}">
                <a class="page-link" th:href="@{/?(page=0)}">&laquo;&laquo;</a>
            </li>
            <!--  <버튼  -->
            <li class="page-item" th:classappend="${pagingInfo.getCurrentPage() < 5 ? 'disabled' : ''}">
                <a class="page-link" th:href="@{/?(page=${pagingInfo.getPrevPageGroupEnd})}">&laquo;</a>
            </li>
            <!--  번호  -->
            <th:block th:if= "${pagingInfo.getCurrentPage() >= pagingInfo.getCountEnd()*5}">
                <li th:each="i : ${#numbers.sequence(pagingInfo.getStartPage(), pagingInfo.getTotalPages())}" class="page-item" th:classappend="${i -1 == pagingInfo.getCurrentPage() ? 'active' : ''}">
                    <a class="page-link" th:href="@{/?(page=${i}-1)}" th:text="${i}"></a>
                </li>
            </th:block>
            <th:block th:unless="${pagingInfo.getCurrentPage() >= pagingInfo.getCountEnd()*5}">
                <li th:each="i : ${#numbers.sequence(pagingInfo.getStartPage(), pagingInfo.getEndPage())}" class="page-item" th:classappend="${i -1 == pagingInfo.getCurrentPage() ? 'active' : ''}">
                    <a class="page-link" th:href="@{/?(page=${i}-1)}" th:text="${i}"></a>
                </li>
            </th:block>
            <!--  >버튼  -->
            <li class="page-item" th:classappend="${pagingInfo.getCurrentPage() >= pagingInfo.getCountEnd()*5 ? 'disabled' : ''}">
                <a class="page-link" th:href="@{/?(page=${pagingInfo.getNextPageGroupStart()})}">&raquo;</a>
            </li>
            <!--  >>버튼  -->
            <li class="page-item" th:classappend="${pagingInfo.getCurrentPage() >= pagingInfo.getCountEnd()*5 ? 'disabled' : ''}">
                <a class="page-link" th:href="@{/?(page=${pagingInfo.getTotalPages()}-1)}">&raquo;&raquo;</a>
            </li>
        </ul>
    </div>

</div>
<div th:insert="layout/footer.html"></div>
