<div th:insert="layout/header.html"></div> <!-- th:insert="파일명" - 해당파일을 삽입한다-->

<header>
    <h1>자유게시판</h1>
</header>

<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="#">Home
                        <span class="visually-hidden">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="#">뉴스</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">채팅</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Separated link</a>
                    </div>
                </li>
            </ul>
            <form class="d-flex">
                <input class="form-control me-sm-2" type="search" placeholder="Search">
                <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>
<div class="container">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12">

                <!--<th:block th:if="${username}">
                    Logged in as: <span id="user" th:text="${username}"></span>
                    <a href="/logout" class="btn btn-info active" role="button">Logout</a>
                </th:block>
                <th:block th:unless="${username}">
                    <a href="/signin" class="btn btn-outline-primary" role="button">로그인</a>
                    <a href="/signup" class="btn btn-outline-primary" role="button">회원가입</a>
                    &lt;!&ndash;<a href="/oauth2/authorization/google" class="btn btn-success active" role="button">Google Login</a>
                    <a href="/oauth2/authorization/naver" class="btn btn-secondary active" role="button">Naver Login</a>
                    <a href="/oauth2/authorization/kakao" class="btn btn-secondary active" role="button">Kakao Login</a>
&ndash;&gt;              </th:block>-->

                <a href="/posts/save" role="button" class="btn btn-primary" >글쓰기</a>
            </div>
        </div>
    </div>

    <br>
    <!-- 목록 출력 영역 -->
    <table class="table table-hover">
        <thead class="table-primary">
        <tr>
            <th>게시글번호</th>
            <th>제목</th>
            <th>작성자</th>
            <th>작성일</th>
        </tr>
        </thead>
        <tbody id="tbody">
            <tr th:each="post : ${posts}">
                <td th:text="${post.id}"></td>
                <td><a th:href="@{/posts/update/{id}(id=${post.id})}" th:text="${post.title}"></a></td>
                <td th:text="${post.author}"></td>
                <td th:text="${post.modifiedDate}"></td>
            </tr>
        </tbody>
    </table>

    <div>
        <ul class="pagination pagination-lg" id="pageNumber">
            <!-- 첫 페이지로 이동 -->
            <li class="page-item" th:classappend="${currentPage < 5 ? 'disabled' : ''}">
                <a class="page-link" th:href="@{/?(page=0)}">&laquo;&laquo;</a>
            </li>
            <!-- 이전 페이지 그룹의 마지막 페이지로 이동 -->
            <li class="page-item" th:classappend="${currentPage < 5 ? 'disabled' : ''}">
                <a class="page-link" th:href="@{/?(page=${prevPageGroupEnd})}">&laquo;</a>
            </li>
            <!-- 페이지 번호 -->
            <th:block th:if= "${currentPage >= countEnd*5}">
                <li th:each="i : ${#numbers.sequence(startPage, totalPage)}" class="page-item" th:classappend="${i -1 == currentPage ? 'active' : ''}">
                    <a class="page-link" th:href="@{/?(page=${i}-1)}" th:text="${i}"></a>
                </li>
            </th:block>
            <th:block th:unless="${currentPage >= countEnd*5}">
                <li th:each="i : ${#numbers.sequence(startPage, endPage)}" class="page-item" th:classappend="${i -1 == currentPage ? 'active' : ''}">
                    <a class="page-link" th:href="@{/?(page=${i}-1)}" th:text="${i}"></a>
                </li>
            </th:block>
            <!-- 다음 페이지 그룹의 첫 페이지로 이동 -->
            <li class="page-item" th:classappend="${currentPage >= countEnd*5 ? 'disabled' : ''}">
                <a class="page-link" th:href="@{/?(page=${nextPageGroupStart})}">&raquo;</a>
            </li>
            <!-- 마지막 페이지로 이동 -->
            <li class="page-item" th:classappend="${currentPage >= countEnd*5 ? 'disabled' : ''}">
                <a class="page-link" th:href="@{/?(page=${page.totalPages}-1)}">&raquo;&raquo;</a>
            </li>
        </ul>
    </div>

</div>
<div th:insert="layout/footer.html"></div>
