<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시물 상세보기</title>
    <!--<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">-->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/posts-view.css" rel="stylesheet">
</head>
<body>

<header>
    <a href="/"><h1>자유게시판</h1></a>
</header>

<div class="container mt-5">
    <div class="card">
        <div class="card-body">
            <h3 class="card-title" th:text="${post.getTitle()}">제목</h3>
            <h6 class="card-subtitle mb-2 text-muted" th:text="'작성자: ' + ${post.user.getName()} + ' | 작성 날짜: ' + ${#temporals.format(post.getTime(), 'yyyy-MM-dd')} + ' | 조회수 ' + ${post.getHit()}">작성자 | 작성 날짜 | 조회수 </h6>
            <div class="divider"></div>
            <div class="post-content">
                <p class="card-text" th:text="${post.getContent()}">내용</p>
            </div>

            <!-- 이미지 -->
            <div class="post-images">
                <div th:each="file : ${files}">
                    <img th:src="'/image/'+${file.getName()}" class="img-fluid">
                    <!--<img src="'/image/asd.jpg" class="img-fluid">-->
                </div>
            </div>
            <!--  추천버튼  -->
            <button class="btn" th:classappend="${liked != null && liked != false ? 'btn-info' : 'btn-outline-info'}" id="likeButton" th:text="'추천 '+${post.getLike()}"></button>
        </div>
    </div>
    <!-- 수정 버튼 -->
    <button class="btn btn-outline-success" th:onclick="updatePost([[${post.user.getSeq()}]], [[${user != null ? user.getSeq() : null}]], [[${post.getSeq()}]])">수정</button>

    <!-- 삭제 버튼 -->
    <button class="btn btn-outline-danger" th:onclick="deletePost([[${post.user.getSeq}]], [[${user != null ? user.getSeq : null}]], [[${post.getSeq}]])">삭제</button>

    <div class="mt-4">
        <h5 th:text="'댓글('+${post.getComment()}+')'">댓글</h5>
        <div class="mb-3">
            <input type="text" class="form-control" id="commentContent" placeholder="댓글을 입력하세요">
            <button class="btn btn-outline-primary" id="submitComment">댓글 달기</button>
        </div>
        <div class="divider" id="comment-container">
            <!-- 댓글 -->
            <div class="mb-3 comment-container" id="comment" th:each="comments : ${comment}">
                <div class="comment-content">
                    <strong th:text="${comments.getUser().getName()}+':'">김철수:</strong>
                    <span class="comment-text" th:text="${comments.getContent()}">좋은 글 감사합니다!</span>
                    <button class="btn comment-like-button" th:classappend="${likedCommentSeq != null && likedCommentSeq.contains(comments.getSeq()) ? 'btn-info' : 'btn-outline-info'}" th:data-seq="${comments.getSeq()}" th:id="'commentLike' + ${comments.getSeq()}" th:text="'추천 '+${comments.getLike()}">추천 0</button>
                    <span class="comment-time" th:text="${comments.getTime()}"></span>
                </div>
                <!-- 대댓글 입력창-->
                <div class="reply-input" id="reply">
                    <input type="text" th:id = "'reply'+${comments.getSeq()}" class="form-control" placeholder="답글을 입력하세요">
                    <button class="btn btn-outline-primary" th:data-seq="${comments.getSeq()}" th:id="'replyButton' + ${comments.getSeq()}">답글 달기</button>
                </div>
                <div th:id="'replyDiv'+${comments.getSeq()}" th:each="reply : ${replyList}">

                    <div class="sub-comment" th:if="${reply.getComment().getSeq()} == ${comments.getSeq()}">
                        <strong th:text="${reply.getUser().getName()} + ':'"></strong>
                        <span th:text="${reply.getContent()}"></span>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>
<script th:inline="javascript">
/*<![CDATA[*/
var postSeq = /*[[${post.getSeq}]]*/;
var userSeq = /*[[${user != null ? user.getSeq : null}]]*/;
/*]]>*/
</script>
<script src="/js/app/posts-view.js"></script>
</body>
</html>