<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시물 수정하기</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .container { max-width: 60%; }
        .divider { border-bottom: 1px solid #eaeaea; margin: 20px 0; }
        header a{
            text-align: center;
            padding: 15px;
            text-decoration: none;
        }
    </style>
</head>
<body>

<header>
    <a href="/"><h1>자유게시판</h1></a>
</header>

<div class="container mt-5">
    <h2 class="mb-4">게시물 수정하기</h2>
    <form enctype="multipart/form-data">
        <input type="hidden" id="postSeq" th:value="${post.getSeq()}">
        <div class="mb-3">
            <label for="title" class="form-label">제목</label>
            <input type="text" class="form-control" id="title" name="title" th:value="${post.getTitle()}">
        </div>
        <div class="mb-3">
            <label for="content" class="form-label">내용</label>
            <textarea class="form-control" id="content" name="content" rows="5" th:text="${post.getContent()}"></textarea>
        </div>

        <div>
            <P>기존 파일</P>
            <ul>
                <li th:each="file : ${files}">
                    <span th:text="${file.getName()}"></span>
                    <button type="button" th:onclick="'deleteFile(' + ${file.getSeq()} + ');'">삭제</button>
                </li>
            </ul>
        </div>

        <div class="mb-3">
            <label for="mfiles" class="form-label">파일 업로드</label>
            <input type="file" class="form-control" id="mfiles" name="mfiles" multiple>
        </div>
        <div class="mb-3">
            <button type="button" class="btn btn-outline-primary" id="btn-update">수정</button>
            <button type="button" class="btn btn-outline-primary" id="btn-cancle">취소</button>
        </div>
    </form>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>
<script>
    let deletedFiles = [];
    const seq = $('#postSeq').val();
    function deleteFile(fileSeq) {
        // 파일 시퀀스를 삭제 목록에 추가
        deletedFiles.push(fileSeq);

        // 화면에서 파일 명 제거
        $('button[onclick="deleteFile(' + fileSeq + ');"]').parent().remove();
    }

    $(document).ready(function() {


        $('#btn-update').click(function() {
            // 수정 내용을 서버로 전송하는 로직
            updatePost(seq);
        });

        $('#btn-cancle').click(function() {
            location.href="/posts/view/"+seq;
        });
    });

    function updatePost() {
        let formData = new FormData();

        deletedFiles.forEach(fileSeq => formData.append('deletedFiles', fileSeq));
        formData.append('title', $('#title').val());
        formData.append('content', $('#content').val());
        console.log("시작")
        console.log("시작1"+$('#title').val())
        console.log("시작2"+$('#content').val())
        if($('#mfiles')[0].files.length > 0) {
            $.each($('#mfiles')[0].files, function (i, file) {
                formData.append('newFiles', file);
            });
        }
        console.log("시작3")
        $.ajax({
            type: 'PUT',
            url: '/api/v1/posts/'+seq,
            processData: false,
            contentType: false,
            data: formData,
        }).done(function() {
            alert('글이 수정되었습니다.');
            window.location.href = '/posts/view/'+seq;
        }).fail(function(error) {
            console.log(error);
        });
    }
</script>

</body>
</html>
