<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>회원가입</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .signup-container {
            width: 60%;
            margin: 0 auto; /* 가운데 정렬 */
        }
    </style>
</head>
<body>
    <div class="signup-container">
        <form action="signup_ok" method="post">
            <fieldset>
                <legend>회원가입</legend>
                <div class="form-group">
                    <label class="col-form-label mt-4" for="inputDefault">아이디</label>
                    <input type="text" class="form-control" placeholder="id" id="inputDefault" name="id">
                </div>
                <div class="form-group">
                    <label class="col-form-label mt-4" for="inputDefault">이름</label>
                    <input type="text" class="form-control" placeholder="name" name="name">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1" class="form-label mt-4">이메일</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" name="email" aria-describedby="emailHelp" placeholder="Enter email">
                </div>
                <div class="form-group">
                    <label class="col-form-label mt-4" for="inputDefault">비밀번호</label>
                    <input type="text" class="form-control" placeholder="password" name="password">
                </div>
                <div class="form-group">
                    <label class="col-form-label mt-4" for="inputDefault">비밀번호확인</label>
                    <input type="text" class="form-control" placeholder="check password" >
                </div>
                <br>
                <button type="submit" class="btn btn-primary">Submit</button>
            </fieldset>
        </form>
    </div>

    <script src="/js/app/index.js"></script>
</body>
</html>